.gridWrapper {
    display: flex;
}

.bottomBar {
    height: 12vh;
    background-color: #607b7d;
}

.topBar {
    height: 6vh;
    background-color: #607b7d;
}

.sideBar {
    width: 4vw;
    background-color: #607b7d;
}
