.popupContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: none;
  opacity: 0;
  transition: display 0.1s 1s, opacity 1s;
  z-index: 50;
}

.popup {
  background-color: whitesmoke;
  box-shadow: 2px 2px 2px 2px grey;
  border: 1px solid whitesmoke;
  border-radius: 10px;

  position: absolute;
  width: 150px;
  height: 300px;
  opacity: 0;
  display: none;
  z-index: 100;
  transition: display 0.1s 1s, opacity 1s;
}

.show {
  opacity: 0.5;
  display: block;
  transition: opacity 2s;
}

.showPop {
  opacity: 1;
  display: block;
  transition: display 0.1s, opacity 1s 0.1s;
}

.popupContentContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.nomPlanete {
  font-size: large;
  text-shadow: rgb(235, 90, 90) 1px 0 10px;
}
